
body {
  background-image: url('/assets/drmasi.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
}

h1 {
  font: 18px/23px "Cantarell", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.container{
  display: table;
  padding-top: 180px;
  width: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


